* {
	margin:0;
	padding: 0;
	border: 0;
}
body{
	background: #F5F5F5;
	margin: 0;
}
nav a{
	font-family: 'Anton', sans-serif;
	color:#ffffff;
	font-size: 120%;
}
header{
	width: 100%;
	height: 100px;
	background-color: #AA0114;
}
section:hover{
	box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}
#banner:hover{
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
h2{
	font-family: 'Roboto',sans-serif;
	font-size: 200%;
}
.header-inner{
	margin: 0 auto;
	max-width: 1200px;
}
.menu-icon{
	display: none;
}
#logo{
	float: left;
	background: url(images/Logo_new.png) no-repeat left;
	height: 100px;
	width: 500px;
	background-size: 300px 100px;
}
nav{
	float: right;
	padding: 25px 20px 0 0;
}
nav ul li{
	display: inline-block;
	padding: 0 0 20px 20px;
}
a{
	text-decoration: none;
}
a:hover,a.current{
	color: #a4c639;
}
#banner {
	background-color: #fff;
	width: 100%;
}
#banner-inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
}
img{
	width: 100%;
	margin:0 auto;
}
img:hover{
	transform: scale(1.2);
}
.one-third{
	float: left;
	width: 33.333333%;
	text-align: center;
}
#donate{
	background-color: #25C459;
}
#phone{
	background-color: #DB2A2A;
}
#dev{
	background-color: #DB9F2A;
}
.one-third i{
	color:#f0f0f0;
	font-size: 500%;
	padding: 5%;
}
.one-third h2{
	padding: 0 0 5% 0;
	font-style: 'Raleway',sans-serif;
	font-weight: 200;
	color: #f0f0f0;
}
.inner-wrapper {
	width: 100%;
	height: auto;
}
#first{
	background-color: #2568C4;
	overflow: auto;
}
#second{
	background-color: #B3DA5E;
	overflow: auto;
}
#second aside p{
	color:#000;
}
#third{
	background-color:DB2A2A; 
	overflow:auto;
}
#fourth{
	background-color: #5225C4;
	overflow:auto;
}
article{
	
}
.rounder{
	float: left;
	width: 25%;
}
article img{
	margin: 0 auto;
	padding: 10% 0 10% 0;
}

aside{
	float: left;
	width: 75%;
	text-align: justify;
	color: #fff;
}
aside p{
	font-family: 'Lobster',sans-serif;
	font-size: 140%;
	padding: 30px;
}
.filler{
	clear:both;
}
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #953800;
	color: #fff;
}
.footer-wrapper{
	max-width: 500px;
	margin: 0 auto;
}
.footer-wrapper h1{
	font-family: 'Raleway',sans-serif;
	font-weight: 200;
	padding: 10px 10px 0px 10px;
}

/*------------NextPage------------------*/

.intro-wrapper{
	width: 100%;
	background-color: #AA0114;
}
.intro {
	max-width: 1300px;
	margin:0 auto;
	padding: 60px;
}
.intro p{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 150%;
	text-align: justify;
	color:  #ffffff;
}
#banner-andro{
	width: 100%;
}
#banner-inner-andro{
	margin:0 auto;
	max-width: 800px;
}
.andro-wrapper{
	width: 100%;
	background-color: #FFE9E8;
}
.inner-andro{
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
}
.arounder{
	width:30%;
	display: inline-block;
	padding: 10px 20px 10px 20px;
}

#version-banner{
	width:100%;
	text-align: center;
	background-color: #FFE9E8;
	color:#AA0114;
}
#version-banner p{
	font-family: 'Oswald',sans-serif;
	font-size: 300%;
}
#happy-andro:hover{
	transform:scale(1);
}
#contact{
	background-color: #AA0114; 
}
#contact:hover{
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
#manor{
	margin:0 auto;
	max-width: 600px;	
}
#manor img:hover{
	transform: scale(1);
}
#manor-info{
	display: block;
	background-color: #000;
	width: 100%;
}
.one-fourth{
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#f0f0f0;
}
.one-fourth a{
	text-decoration: none;
	color:inherit;
}
.one-fourth i{
	color:#f0f0f0;
}
#facebook {
	background-color: #3b5998;
}
#twitter {
	background-color: #00aced;
}
#gmail {
	background-color: #e95950;
}
#linkedin {
	background-color: #4875B4;
}





#survey-banner{
	background-color: #F29E9E;
}
#survey-banner img:hover{
	transform: scale(1);
}
.form{
	width: 100%;
}
#quiz-wrapper{
	max-width: 1100px;
	margin:0 auto;
	border: 5px solid #AA0114;
	border-radius: 10px;
	
}
 legend{
	font-family: 'Oswald',sans-serif;
	font-size: 300%;
	text-align: center;
}
#quiz-wrapper table{
	font-family: 'Oswald',sans-serif;
	text-align: center;
	margin:0 auto;
	font-size: 150%;
}
	#quiz-wrapper table td{
		padding: 10px;
	}
	#quiz-wrapper table tr{
		padding: 20px;
	}
.radio{
	height: 20px;
	width: 20px;
}
#list{
	background-color:#EABBBB;
	border-radius: 20px;
	height: 40px;
	width: 500px;
	font-family: 'Oswald',sans-serif;
	font-size: 150%;
	text-align: left;
	padding-left: 40px;
}
#suggestions{
	height: 80px;
	width: 500px;
	font-family: 'Oswald',sans-serif;
	font-size: 150%;
	text-align: center;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #AA0114; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

















@media screen and (max-width: 950px){
	#logo{
		background: url(images/logo_small.png) no-repeat center;
		height: 100px;
		width: 500px;
		background-size: 300px 100px;
	}
	.menu-icon{
		display: inline-block;
	}
	nav ul, nav:active ul{
		display: none;
		z-index:1000;
		position: absolute;
		background: #fff;
		right: 10px;
		top:40px;
		border: 5px solid #AA0114;
		border-radius: 2px 0 2px 2px;
	}
	nav:hover ul{
		display: block;
	}
	nav li{
		text-align: center;
		width: 95%;
	}
	nav li a{
		color: #AA0114;
	}
	.rounder{
		width: 100%;
	}
	.post{
		width: 100%;
	}
	#banner-inner{
		max-width: 400px;
		margin: 0 auto;
		padding: 30px 0px 30px 0px;
	}
	.one-third i{
	color:#f0f0f0;
	font-size: 300%;
	padding: 5%;
	}
	.one-third h2{
	padding: 0 0 5% 0;
	font-style: 'Raleway',sans-serif;
	font-weight: 200;
	color: #f0f0f0;
	font-size: 100%;
	}
	.andro-wrapper{
	width: 100%;
	background-color: #FFE9E8;
	}
	.inner-andro{
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	}
	.arounder{
	width:90%;
	display: inline-block;
	padding: 10px 20px 10px 20px;
	}
}


